.taskList{
    background: var(--list-background); 
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:0.8rem;
    
}
.taskList li{
    list-style: none;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5rem;
    margin-left: 0.8rem;
    text-align: center;
}
.taskList input{
    margin-left: 2.5rem;
    border:none;
    border-radius: 0.8rem;
    padding: 0.5rem;
    outline: none;
    font-family:'Architects Daughter', cursive; 
}
.taskList input:focus-within{
    border: 1px solid ;
    border-color: var(--button-remove);
}
.taskList input::placeholder{
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    font-size: 1rem;
}

.taskButton{
    width: 6.5rem;
    border-radius: 0.8rem;
    border:none;
    padding: 0.5rem;
    margin: 1rem;
    font-family: 'Architects Daughter',cursive;
    font-size: 1rem;
    font-weight: 800;
    background: var(--button-add);
    cursor: pointer;
    text-align: center
    ;
    
}
.taskButton:hover{
    background: var(--button-add-dark);
    transition: 0.5s;
    border:1px solid;
    border-color: black
}
.checkTask{
    border: 1px;
    border-radius: 0.8rem;
    border: none;
    margin: 1.2rem;
    outline: none;
}
